.bottomContainer {
  display: flex;
  background-color: #fff;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1);
  gap: 4px;
}

.fileInput,
.importButton,
.ant-btn-primary {
  background-color: #1890ff;
  color: #fff;
  border: none;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 12px;
  margin-right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 22px;

  &:hover {
    background-color: #40a9ff;
  }
}
